<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <title>Article Scraper API</title>
    </head>
    <body>
        <h2>Article Scraper API Home</h2>
        <h4>LOGIN</h4>
        <p>Login to the API service</p>
        <form action="/auth" method="post">
            <input type="email" name="username" id="username" />
            <input type="password" name="password" id="password" />
            <button type="submit">Login</button>
        </form>
        <br />
        <h4>REGISTER</h4>
        <p>You need to be registered to use the article scraper api.</p>
        <form action="/register" method="post">
            <input type="email" name="username" id="username" />
            <input type="password" name="password" id="password" />
            <button type="submit">Register</button>
        </form>
    </body>
</html>
