<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <title>Article Scraper API</title>
    </head>
    <body>
        <h2>Article Scraper API Endpoints</h2>
        <h4>GET /api/websites</h4>
        <p>
            Retrieve list of websites where it is possible to search for
            articles.
        </p>
        <form action="/api/websites" method="get">
            <button type="submit">Get Websites List</button>
        </form>
        <h4>GET /api/articles/?siteName=value&keyword=value</h4>
        <p>
            Search for articles in the website provided as siteName
            query-string. Will return a list of articles that have the keyword
            in the article heading.
        </p>
        <form action="/api/articles/" method="get">
            <input
                type="text"
                name="siteName"
                id="siteName"
                placeholder="website name"
            />
            <input
                type="text"
                name="keyword"
                id="keyword"
                placeholder="keyword"
            />
            <button type="submit">Get Articles</button>
        </form>
        <h4>POST /api/websites</h4>
        <p>
            Add a new website to the DB. The database contains websites where
            articles can be searched.
        </p>
        <form action="/api/websites" method="post">
            <input
                type="url"
                name="url"
                id="url"
                placeholder="ex: http://ansa.it"
            />
            <button type="submit">Post Website Url</button>
        </form>
    </body>
</html>
