body {
    color: #3a3b3c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 2em;
    margin-left: 2em;
}

h2 {
}

button {
    border: 1px solid black;
    border-radius: 3px;
}

input {
    border: 1px solid black;
    border-radius: 3px;
}
